<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Financial Model Simulator{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% block header %}{% endblock %}
</head>

<body>
    <div class="header">
        <a href="{{ url_for('index') }}" class="logo">Home</a>
        <a href="{{ url_for('info') }}" class="logo">Info</a>
    <div class="header-right">
        <a href="{{ url_for('predict') }}" class="logo">Predict</a>
    </div>
</div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>