{% extends "base.html" %}

{% block title %}Financial Model Simulator{% endblock %}

{% block content %}

<style>
    p {
        font-size: 24px;     /* Reduced from 30px */
        font-family: Courier;
    }
</style>

<div class="content-wrapper">
    <h4 class="center">Instructions on how to use this website: </h4>
    <p class="ex1" style="text-align:center">
        <strong>blah blach blach blah</strong>
    </p>
    <h4 class="center">Meet the team!</h4>
    <p class="ex1" style="text-align:center">
        <strong>we could have member pictures here</strong>
    </p>
</div>
{% endblock %}